#.appveyor.yml reference: http://www.appveyor.com/docs/appveyor-yml
#.appveyor.yml validation: https://ci.appveyor.com/tools/validate-yaml
#verify WHOLE file after EVERY change or it could crash cause of whitespaces or tabulation

version: 0.4.{build}

branches:
  except:
    - master
 
os: Windows Server 2012
cache:
- packages -> **\packages.config
before_build:
- nuget restore Pulsar4X/Pulsar4X.sln
platform:
- Any CPU
configuration:
- Windows
build:
  project: Pulsar4X/Pulsar4X.sln
