Pulsar4X/Pulsar4X.Lib/obj
Pulsar4X/Pulsar4X.Lib/bin
Pulsar4X/Pulsar4X.WinForms/obj
Pulsar4X/Pulsar4X.WinForms/bin
Pulsar4X/Pulsar4X.Tests/bin
Pulsar4X/Pulsar4X.Tests/obj
*.db
*.suo
*.user
Pulsar4X/_ReSharper.Pulsar4X
*.sln
*.csproj