# Pulsar Specific Folders
Pulsar4X/*/bin
Pulsar4X/*/obj

#C# Temp Files:
*.db
*.suo
*.user
_ReSharper.Pulsar4X
_ReSharper.AuroraExtract

# Build results
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.msi
*.wixpdb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
/Pulsar4X/Pulsar4X.UI/StyleCop.Cache
