<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.2.0" targetFramework="net45" />
  <package id="Eto.Platform.Wpf" version="2.2.0" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="1.1.1589.5942" targetFramework="net452" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net45" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net45" />
</packages>